{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Add product</title>#}
{#</head>#}
{#<body>#}
{#    <form action = ”{{ url_for("add_product", id=product.id)}}” method = "POST">#}
{#        <p>Name <input type = "text" name = "Name" /></p>#}
{#        <p>Price <input type = "text" name = "Price" /></p>#}
{#        <p>Amount <input type = "text" name = "Amount" /></p>#}
{#        <p>Comment <input type = "text" name = "Comment" /></p>#}
{#        <p><input type = "submit" value = "Add" /></p>#}
{#    </form>#}
{#</body>#}
{#</html>#}