<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>

<div>
	{% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
		<ul>
		{% for category, message in messages %}
		  <li class="{{ category }}">{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</div>

<form action="{{ request.path }}" method="POST">
    <fieldset>
        <legend><h2>Edit product:</h2></legend>
        <label for="Name">Name:</label><br>
        <p><input type="text" name="Name" placeholder="Name" value="{{ product.name }}"/><br></p>
        <label for="Price">Price:</label><br>
        <p><input type="text" name="Price" placeholder="Price" value="{{ product.price }}"/><br></p>
        <label for="Amount">Amount:</label><br>
        <p><input name="Amount" placeholder="Amount" value="{{ product.amount }}"><br></p>
        <label for="Comment">Comment:</label><br>
        <p><input type="text" name="Comment" placeholder="Comment" value="{{ product.comment }}"><br></p>
    </fieldset>
    <p><input type="submit" value="Save"/></p>
</form>
</body>
</html>