<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>

<div>
	{% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
		<ul>
		{% for category, message in messages %}
		  <li class="{{ category }}">{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</div>

<h2>Product:</h2>
<table valign = "left" cellspacing="5" cellpadding="10" border=1>
    <tr>
        <th align="left">id</th>
        <td> {{ product.id }} </td>
    </tr>

    <tr>
        <th align="left">Name</th>
        <td> {{ product.name }} </td>
    </tr>

    <tr>
        <th align="left">Price</th>
        <td> {{ product.price }} </td>
    </tr>
    <tr>
        <th align="left">Amount</th>
        <td> {{ product.amount }} </td>
    </tr>
    <tr>
        <th align="left">Comment</th>
        <td> {{ product.comment }} </td>
    </tr>
</table>
<p>
<form action="{{ url_for("delete_button", product_id = product.id) }}" method="post">
    <input type="submit" value="Delete"/>
</form>
</p>
<form action="{{ url_for("edit_button", product_id = product.id) }}" method="get">
    <input type="submit" value="Edit"/>
</form>
</body>
</html>