<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<div>
	{% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
		<ul>
		{% for category, message in messages %}
		  <li class="{{ category }}">{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</div>

<h3><a href="{{ url_for("add_button") }}">Add product</a></h3>
<h3>Products:</h3>
<table cellspacing="5" cellpadding="10" border=2>
    <thead>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>
                <a href="{{ url_for("product_info", product_id = product.id) }}">
                    <h4>{{ product.id }}</h4>
                </a>

            </td>
            <td> {{ product.name }} </td>
            <td> {{ product.price }} </td>
            <td> {{ product.amount }} </td>
            <td> {{ product.comment }} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>